.brand-logo img {
  max-width: 100%;
  max-height: 80px;
}
.white-bg {
  background: white;
}
.hero-bg01 {
  background-position: left bottom;
}
#hero .header .hero-text .dark-giant-title h1 {
  line-height: 153%;
  margin: 0;
}
